h1{ font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;}  
 h2{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h3{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}  
 h4{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h5{ font-family: brandon-grotesque, sans-serif;
   font-weight: in;
   font-style: inherit;}
   p{ font-family: brandon-grotesque, sans-serif;
    font-weight: inherit;
     font-style: inherit;}
 a{text-decoration:inherit;
  color: inherit;}

  a:hover{
    text-decoration:underline;
    color: inherit;
  }
 .center {
     display: center;
     margin-left: auto;
     margin-right: center;
     box-align: center ;
   }

  text {
    font-family: brandon-grotesque, sans-serif;
   }
  body {
    font: 15px sans-serif;
    font-weight:inherit;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;

  }
  
  .x.axis path {
    display: ruby-base-container;
  }

  .y.axis path {
    stroke:black;
  }
  
  


  .line {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
  }
  .rect {
    fill: inherit;
    stroke-width: 1;
  }
  

    .header {
      margin-top: 60px;
      text-align: inherit;
      font-family: brandon-grotesque, sans-serif;
      font-weight: inherit;
 }
 .dotButtons{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
 }

    
    input {
      margin-right: 10px;
      font-family: brandon-grotesque, sans-serif;
      font-weight: 500;
      font-size: 10;
      }
      .form-check-label {
      font-size: 0.8em;
      margin-right: 20px;
    }
    .radio-toolbar {
      margin: 10px;
    }
    
    .radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    
    .radio-toolbar label {
      border: none;
      color: black;
      padding: 10px 10px;
      font-size: 16px;
      font-family: brandon-grotesque;
      border-radius: 10px;
      cursor: pointer;;
    }
    
    .radio-toolbar label:hover {
      background-color: #ddd;
    }
    
    
    
    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #e7e7e7;
        stroke: rgb(0, 0, 0);
        stroke-width: 1px;
    }
div.tooltip {	
      position: absolute;			
      text-align: center;			
      width: 100px;					
      height: 100px;					
      padding: 2px;				
      font-family: brandon-grotesque,sans-serif;	
      font-weight: 700 ;	
      background:white;	
      stroke-width: 1;		
      stroke: black;
      border-radius: 8px;			
      pointer-events: none;			
  }


  .d3-tip {
    line-height: 1;
    font-family: brandon-grotesque,sans-serif;	
    padding: 0px;
    background:white;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border: black;
    font-size: 12px;
    stroke-width: 2px;
  }
  
@media only screen and (max-width:850px){
  #tipDiv{
    display: none;
  }
  #bigmenu{
    display: none;
  }
  #smallmenu{
    display: inline;
  }
  #bigprojected{
    display: none;
  }
  #smallprojected{
    display: inline;
  }
 

  .computer{
    display:none;
  }
  .phone{
    display:inline;
  }
}
@media only screen and (min-width:851px){

  #tipDiv{
    display: inline;
  }
  #bigmenu{
    display: inline;
  }
  #smallmenu{
    display: none;
  }
  #bigprojected{
    display: inline;
  }
  #smallprojected{
    display: none;
  }
  
 
  .computer{
    display:inline;
  }
  .phone{
    display:none;
  }
} 
.pollline {
  fill: none;
  stroke-width: 3px;
  opacity: 0.8;
  stroke-linecap: round;
}

/*x-axis styles*/
.c_x_axis text {
  font: 15px brandon-grotesque;
}

.c_x_axis path,
.c_x_axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*y-axis styles*/
.c_y_axis text {
  font: 15px brandon-grotesque;
}


.c_y_axis path,
.c_y_axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*y-axis gridline styles*/
.c_y_grid {
  fill: none;
  stroke: grey;
  stroke-dasharray: 3 3;
  stroke-width: 1px;
  opacity: 0.7;
}

/*Smoothed line styles*/
.c_sline1 {
  fill: none;
  stroke: darkblue;
  stroke-width: 3px;
  opacity: 0.4;
}
