

h1{ font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;}  
 h2{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h3{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}  
 h4{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h5{ font-family: brandon-grotesque, sans-serif;
   font-weight: in;
   font-style: inherit;}
 p{ font-family: brandon-grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 a{text-decoration:inherit;
 }
 .center {
     display: center;
     margin-left: auto;
     margin-right: center;
     box-align: center ;
   }

  text {
    font-family: brandon-grotesque, sans-serif;
   }
  body {
    font: 15px sans-serif;
    font-weight:inherit;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: none;

  }
  
  .x.axis path {
    display: none;
  }
  
  
  .line {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
  }
  
  

    .header {
      margin-top: 60px;
      text-align: center;
      font-family: brandon-grotesque, sans-serif;
      font-weight: inherit;
 }
 .dotButtons{
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
 }

    
    input {
      margin-right: 10px;
      font-family: brandon-grotesque, sans-serif;
      font-weight: 500;
      font-size: 12px;
      }
      .form-check-label {
      font-size: 0.8em;
      margin-right: 20px;
    }