h1{ font-family: brandon-grotesque, sans-serif;
    font-weight: inherit;
    font-style: inherit;}  
   h2{ font-family: brandon-grotesque, sans-serif;
     font-weight: inherit;
     font-style: inherit;}
   h3{ font-family: brandon-grotesque, sans-serif;
     font-weight: inherit;
     font-style: inherit;}  
   h4{ font-family: brandon-grotesque, sans-serif;
     font-weight: inherit;
     font-style: inherit;}
   h5{ font-family: brandon-grotesque, sans-serif;
     font-weight: in;
     font-style: inherit;}
   p{ font-family: brandon-grotesque, sans-serif;
     font-weight: inherit;
     font-style: inherit;}
   a{text-decoration:inherit;
   }
   .center {
       display: block;
       margin-left: auto;
       margin-right: auto;
     }