 h1{ font-family: brandon grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;}  
 h2{ font-family: brandon grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h3{ font-family: brandon grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}  
 h4{ font-family: brandon grotesque, sans-serif;
   font-weight: inherit;
   font-style: inherit;}
 h5{ font-family: brandon grotesque, sans-serif;
   font-weight: in;
   font-style: inherit;}
   p{ font-family: brandon grotesque, sans-serif;
    font-weight: inherit;
     font-style: inherit;}
 a{text-decoration:inherit;
  color: black;

 }
 .center {
     display: center;
     margin-left: auto;
     margin-right: center;
     box-align: center ;
   }

  text {
    font-family: brandon grotesque, sans-serif;
   }
  body {
    font: 15px sans-serif;
    font-weight:inherit;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: none;

  }
  
  .x.axis path {
    display: ruby-base-container;
  }
  
  
  .line {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
  }
  .rect {
    fill: inherit;
    stroke-width: 1;
  }
  

    .header {
      margin-top: 60px;
      text-align: inherit;
      font-family: brandon grotesque, sans-serif;
      font-weight: inherit;
 }
 .dotButtons{
  font-family: brandon grotesque, sans-serif;
  font-weight: 500;
 }

    
    input {
      margin-right: 10px;
      font-family: brandon grotesque, sans-serif;
      font-weight: 500;
      font-size: 12px;
      }
      .form-check-label {
      font-size: 0.8em;
      margin-right: 20px;
    }
    .radio-toolbar {
      margin: 10px;
    }
    
    .radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    
    .radio-toolbar label {
        display: inline-block;
        background-color:none;
        padding: 10px 20px;
        font-family: brandon grotesque,sans-serif;
        font-size: 16px;
        border: none;
        border-radius: 4px;
    }
    
    .radio-toolbar label:hover {
      background-color: rgb(198, 201, 243);
    }
    
    
    
    .radio-toolbar input[type="radio"]:checked + label {
        background-color: rgb(122, 176, 238);
        border-color: rgb(29, 89, 179);
    }
div.tooltip {	
      position: absolute;			
      text-align: center;			
      width: 100px;					
      height: 100px;					
      padding: 2px;				
      font-family: brandon grotesque,sans-serif;	
      font-weight: 700 ;	
      background:white;	
      stroke-width: 1;		
      stroke: black;
      border-radius: 8px;			
      pointer-events: none;			
  }


  .d3-tip {
    line-height: 1;
    font-family: brandon grotesque,sans-serif;	
    padding: 0px;
    background:white;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border: black;
    font-size: 12px;
    stroke-width: 2px;
  }
  